<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="weather-widget-main.component.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Weather</title>
  </head>
  <body>
    <div class="loadee loader-container" *ngIf='loaderService.isLoading | async'>
    <mat-spinner class="loadee"style="top: 50%;left:50%;transform: translate(-50%,-50%);" ></mat-spinner>
    </div> 
    <div class="container-fluid"> 
      <div class="row">
          <div class="col-sm-12 col-lg-6 box1">
            <div class="rectangle1">
                <p class="text">The Weather App</p>
                <p class="Temp">{{receivedService.cityData.main.temp}}<span>&#176;</span> Celcius</p>
                <p class="city text">{{receivedService.cityData.name}}</p>
              <app-searchbar></app-searchbar>   
            </div>   
            <app-chart></app-chart>
          </div>
          
          <div class="col-sm-12 col-lg-6 box2">
            <svg width="550" height="407" viewBox="0 0 550 407" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M530.451 366.226C528.801 352.961 520.58 339.892 507.93 335.575C512.919 349.228 512.918 364.206 507.926 377.859C505.983 383.117 503.273 388.763 505.101 394.062C506.239 397.36 509.022 399.883 512.133 401.46C515.245 403.038 518.697 403.789 522.107 404.526L522.778 405.081C528.191 392.859 532.1 379.491 530.451 366.226Z" fill="#F0F0F0"/>
              <path d="M507.804 335.826C515.171 344.08 519.75 354.446 520.89 365.452C521.178 367.816 521.091 370.212 520.632 372.55C520.112 374.812 518.996 376.895 517.399 378.58C515.941 380.181 514.265 381.65 513.222 383.578C512.703 384.573 512.4 385.666 512.333 386.786C512.266 387.906 512.436 389.028 512.833 390.077C513.754 392.718 515.569 394.87 517.416 396.914C519.468 399.182 521.635 401.506 522.507 404.514C522.613 404.878 523.172 404.693 523.066 404.329C521.549 399.096 516.469 396.124 514.047 391.411C512.917 389.212 512.442 386.659 513.502 384.337C514.429 382.307 516.156 380.791 517.646 379.182C519.228 377.561 520.389 375.577 521.027 373.403C521.603 371.096 521.782 368.708 521.557 366.342C521.135 361.005 519.876 355.767 517.827 350.822C515.52 345.164 512.262 339.943 508.194 335.384C507.942 335.102 507.554 335.545 507.804 335.826H507.804Z" fill="white"/>
              <path d="M520.732 361.886C522.552 361.444 524.156 360.37 525.257 358.854C526.359 357.339 526.885 355.481 526.743 353.613C526.713 353.235 526.125 353.264 526.155 353.643C526.29 355.382 525.799 357.112 524.771 358.521C523.743 359.93 522.245 360.925 520.547 361.327C520.178 361.415 520.365 361.974 520.732 361.886V361.886Z" fill="white"/>
              <path d="M518.245 377.865C514.957 375.902 512.53 372.772 511.447 369.098C511.34 368.734 510.781 368.92 510.888 369.283C512.021 373.104 514.554 376.356 517.98 378.391C518.306 378.585 518.57 378.058 518.245 377.865Z" fill="white"/>
              <path d="M514.973 345.722C514.304 346.04 513.567 346.187 512.828 346.149C512.088 346.112 511.37 345.891 510.737 345.507C510.413 345.309 510.15 345.837 510.472 346.033C511.173 346.454 511.967 346.697 512.784 346.74C513.601 346.783 514.416 346.626 515.158 346.282C515.231 346.255 515.29 346.202 515.325 346.133C515.36 346.063 515.367 345.984 515.345 345.909C515.32 345.836 515.267 345.774 515.198 345.739C515.128 345.704 515.047 345.698 514.973 345.722L514.973 345.722Z" fill="white"/>
              <path d="M469.369 359.267C469.567 359.397 469.766 359.526 469.965 359.66C472.63 361.412 475.147 363.378 477.493 365.537C477.677 365.701 477.861 365.871 478.04 366.04C483.636 371.303 488.207 377.56 491.52 384.491C492.835 387.251 493.939 390.107 494.821 393.034C496.039 397.076 497.039 401.556 499.45 404.862C499.698 405.21 499.967 405.542 500.256 405.857H522.049C522.098 405.832 522.148 405.812 522.198 405.787L523.068 405.827C523.033 405.673 522.994 405.514 522.959 405.36C522.939 405.27 522.914 405.181 522.894 405.091C522.879 405.031 522.864 404.972 522.854 404.917C522.849 404.897 522.844 404.877 522.839 404.862C522.829 404.808 522.814 404.758 522.804 404.708C522.586 403.818 522.36 402.928 522.128 402.038C522.128 402.033 522.128 402.033 522.123 402.028C520.42 395.229 517.917 388.657 514.665 382.448C514.566 382.264 514.466 382.075 514.357 381.891C512.851 379.142 511.123 376.522 509.191 374.055C508.128 372.707 506.998 371.415 505.805 370.181C502.715 367.001 499.145 364.327 495.224 362.256C487.407 358.129 478.358 356.548 470.005 359.069C469.791 359.133 469.582 359.198 469.369 359.267Z" fill="#F0F0F0"/>
              <path d="M469.418 359.544C480.27 361.699 490.167 367.219 497.703 375.32C499.356 377.035 500.729 379 501.771 381.142C502.718 383.262 503.08 385.597 502.819 387.904C502.62 390.06 502.166 392.243 502.494 394.41C502.678 395.516 503.095 396.572 503.715 397.506C504.336 398.441 505.148 399.234 506.096 399.833C508.421 401.387 511.166 402.013 513.872 402.532C516.876 403.108 520.005 403.659 522.512 405.535C522.816 405.763 523.151 405.278 522.847 405.051C518.486 401.787 512.64 402.472 507.868 400.167C505.642 399.092 503.726 397.339 503.174 394.847C502.692 392.668 503.158 390.418 503.379 388.236C503.666 385.989 503.399 383.706 502.6 381.586C501.671 379.398 500.376 377.383 498.771 375.629C495.221 371.622 491.063 368.198 486.449 365.483C481.201 362.355 475.456 360.148 469.463 358.957C469.092 358.883 469.049 359.471 469.418 359.544Z" fill="white"/>
              <path d="M495.43 372.569C496.617 371.12 497.251 369.296 497.218 367.423C497.185 365.55 496.487 363.75 495.249 362.344C494.998 362.06 494.545 362.437 494.797 362.721C495.952 364.029 496.602 365.706 496.629 367.45C496.656 369.194 496.059 370.891 494.946 372.233C494.704 372.525 495.19 372.859 495.43 372.569Z" fill="white"/>
              <path d="M503.065 386.824C499.257 387.236 495.435 386.198 492.359 383.917C492.054 383.691 491.719 384.175 492.023 384.401C495.229 386.769 499.209 387.841 503.17 387.404C503.547 387.362 503.44 386.783 503.065 386.824Z" fill="white"/>
              <path d="M481.1 363.129C480.757 363.786 480.257 364.347 479.644 364.762C479.031 365.177 478.325 365.434 477.588 365.508C477.21 365.546 477.318 366.125 477.693 366.088C478.507 366.002 479.287 365.718 479.965 365.26C480.643 364.803 481.199 364.187 481.584 363.465C481.626 363.4 481.642 363.321 481.628 363.245C481.614 363.169 481.572 363.101 481.51 363.055C481.446 363.011 481.366 362.994 481.29 363.008C481.213 363.022 481.145 363.066 481.1 363.129Z" fill="white"/>
              <path d="M81.6268 116.605C62.0518 126.929 46.6281 147.316 47.3538 169.434C65.5741 153.711 88.7688 144.939 112.834 144.671C122.115 144.601 132.446 145.49 139.581 139.554C144.021 135.86 146.298 130.073 146.918 124.331C147.538 118.589 146.68 112.802 145.824 107.09L146.29 105.726C124.193 104.504 101.202 106.28 81.6268 116.605Z" fill="#F0F0F0"/>
              <path d="M47.8157 169.482C56.2831 153.238 69.6534 140.075 86.0275 131.863C89.5211 130.033 93.2814 128.764 97.17 128.105C100.979 127.585 104.857 128.094 108.402 129.58C111.736 130.899 114.993 132.634 118.589 133.12C120.433 133.341 122.304 133.17 124.078 132.617C125.851 132.065 127.488 131.144 128.881 129.915C132.431 126.942 134.701 122.871 136.783 118.813C139.094 114.307 141.424 109.59 145.57 106.478C146.073 106.101 145.458 105.344 144.956 105.72C137.742 111.135 136.115 120.742 130.235 127.254C127.492 130.293 123.816 132.523 119.6 132.242C115.914 131.996 112.554 130.209 109.19 128.845C105.753 127.345 102 126.709 98.2609 126.993C94.3513 127.453 90.5484 128.574 87.015 130.309C78.998 134.089 71.6251 139.106 65.1665 145.176C57.7569 152.063 51.5801 160.167 46.9031 169.137C46.6139 169.692 47.5284 170.033 47.8157 169.482H47.8157Z" fill="white"/>
              <path d="M80.5995 134.197C78.8487 131.637 76.2448 129.782 73.253 128.965C70.2611 128.147 67.076 128.42 64.2666 129.734C63.699 130.002 64.0885 130.896 64.6568 130.628C67.2708 129.399 70.2377 129.146 73.0222 129.913C75.8066 130.68 78.2252 132.417 79.8414 134.811C80.1932 135.331 80.9493 134.714 80.5995 134.197H80.5995Z" fill="white"/>
              <path d="M106.8 128.688C105.686 134.93 102.26 140.522 97.2062 144.35C96.7052 144.729 97.3195 145.487 97.82 145.108C103.072 141.115 106.625 135.288 107.77 128.79C107.879 128.171 106.908 128.072 106.8 128.688V128.688Z" fill="white"/>
              <path d="M58.9414 152.583C59.8252 153.432 60.4842 154.488 60.8592 155.655C61.2343 156.822 61.3135 158.064 61.09 159.269C60.9734 159.887 61.9442 159.985 62.06 159.371C62.3008 158.039 62.2116 156.667 61.8001 155.377C61.3886 154.086 60.6674 152.916 59.6995 151.969C59.6157 151.872 59.4982 151.811 59.3708 151.797C59.2434 151.784 59.1157 151.82 59.0136 151.897C58.9136 151.979 58.8499 152.097 58.8364 152.225C58.8229 152.353 58.8606 152.482 58.9414 152.583Z" fill="white"/>
              <path d="M106.631 215.27C106.715 214.886 106.798 214.502 106.89 214.115C108.042 208.963 109.611 203.914 111.581 199.016C111.727 198.635 111.881 198.251 112.038 197.875C116.911 186.125 123.922 175.382 132.716 166.192C136.219 162.539 139.994 159.157 144.01 156.076C149.556 151.821 155.908 147.65 159.616 141.979C160.009 141.391 160.366 140.78 160.684 140.149L147.918 106.401C147.851 106.339 147.791 106.273 147.723 106.211L147.275 104.84C147.057 104.984 146.834 105.139 146.616 105.283C146.489 105.367 146.364 105.457 146.238 105.541C146.154 105.599 146.07 105.657 145.991 105.704C145.963 105.723 145.936 105.743 145.915 105.759C145.837 105.807 145.768 105.859 145.697 105.904C144.447 106.764 143.201 107.634 141.959 108.515C141.951 108.518 141.951 108.518 141.946 108.528C132.497 115.262 123.527 122.845 115.993 131.547C115.767 131.809 115.532 132.074 115.312 132.351C111.938 136.292 108.891 140.503 106.203 144.941C104.739 147.376 103.399 149.883 102.189 152.453C99.0735 159.101 97.0233 166.197 96.1132 173.481C94.301 188.002 97.1533 202.942 105.95 214.401C106.175 214.694 106.398 214.98 106.631 215.27Z" fill="#F0F0F0"/>
              <path d="M107.03 215.032C104.011 196.964 106.762 178.404 114.891 161.989C116.579 158.424 118.817 155.147 121.525 152.28C124.253 149.571 127.656 147.643 131.382 146.695C134.837 145.741 138.483 145.165 141.646 143.388C143.252 142.454 144.643 141.192 145.726 139.683C146.81 138.174 147.562 136.453 147.934 134.633C148.979 130.122 148.341 125.505 147.56 121.011C146.692 116.022 145.712 110.853 147.149 105.872C147.324 105.268 146.377 105.033 146.203 105.636C143.703 114.303 148.188 122.954 147.414 131.693C147.053 135.771 145.461 139.765 141.925 142.078C138.834 144.101 135.075 144.698 131.568 145.634C127.92 146.505 124.542 148.257 121.727 150.736C118.882 153.456 116.521 156.641 114.744 160.154C110.619 167.999 107.753 176.444 106.251 185.179C104.481 195.139 104.428 205.328 106.094 215.306C106.198 215.923 107.133 215.645 107.03 215.032H107.03Z" fill="white"/>
              <path d="M111.963 167.121C109.023 166.131 105.828 166.218 102.947 167.366C100.066 168.515 97.6865 170.65 96.2344 173.39C95.9425 173.946 96.7921 174.426 97.0844 173.869C98.4319 171.315 100.648 169.326 103.333 168.262C106.018 167.198 108.995 167.129 111.727 168.067C112.321 168.27 112.553 167.323 111.963 167.121V167.121Z" fill="white"/>
              <path d="M129.566 146.948C132.434 152.602 133.066 159.13 131.335 165.229C131.163 165.833 132.11 166.068 132.281 165.465C134.071 159.114 133.4 152.323 130.402 146.445C130.116 145.885 129.281 146.391 129.566 146.948H129.566Z" fill="white"/>
              <path d="M105.739 194.84C106.956 194.987 108.118 195.433 109.12 196.139C110.122 196.845 110.933 197.789 111.481 198.886C111.759 199.449 112.594 198.943 112.316 198.383C111.706 197.174 110.809 196.133 109.704 195.35C108.599 194.568 107.318 194.068 105.975 193.894C105.85 193.867 105.719 193.889 105.609 193.955C105.499 194.021 105.419 194.126 105.384 194.249C105.353 194.375 105.374 194.507 105.44 194.618C105.507 194.729 105.614 194.809 105.739 194.84V194.84Z" fill="white"/>
              <path d="M298.735 81.8646H296.842V30.0113C296.842 26.0702 296.066 22.1676 294.558 18.5265C293.05 14.8854 290.839 11.5769 288.052 8.79012C285.266 6.00331 281.957 3.79269 278.316 2.28448C274.675 0.776271 270.772 3.82919e-06 266.831 0H156.973C149.013 -1.54665e-05 141.38 3.16186 135.752 8.79006C130.124 14.4182 126.962 22.0517 126.962 30.0112V314.483C126.962 322.442 130.123 330.076 135.752 335.704C141.38 341.332 149.013 344.494 156.973 344.494H266.831C274.791 344.494 282.424 341.332 288.052 335.704C293.681 330.076 296.842 322.442 296.842 314.483V118.775H298.735V81.8646Z" fill="#3F3D56"/>
              <path d="M268.042 7.80791H253.702C254.361 9.4247 254.613 11.1789 254.435 12.9159C254.257 14.6529 253.654 16.3194 252.68 17.7686C251.706 19.2179 250.391 20.4054 248.85 21.2265C247.309 22.0476 245.59 22.4771 243.843 22.4773H180.907C179.161 22.4772 177.442 22.0476 175.901 21.2265C174.36 20.4054 173.044 19.2179 172.07 17.7687C171.096 16.3194 170.494 14.6529 170.316 12.9159C170.137 11.1789 170.389 9.42469 171.049 7.80789H157.655C151.711 7.80789 146.01 10.1691 141.807 14.3722C137.604 18.5753 135.243 24.2759 135.243 30.22V314.274C135.243 320.218 137.604 325.919 141.807 330.122C146.01 334.325 151.711 336.686 157.655 336.686H268.042C273.986 336.686 279.687 334.325 283.89 330.122C288.093 325.919 290.454 320.218 290.454 314.274V30.22C290.454 27.2768 289.875 24.3624 288.748 21.6432C287.622 18.9241 285.971 16.4534 283.89 14.3722C281.809 12.2911 279.338 10.6402 276.619 9.51391C273.9 8.3876 270.985 7.80791 268.042 7.80791Z" fill="white"/>
              <path d="M212.881 174.465C199.801 174.465 187.014 170.586 176.139 163.319C165.263 156.053 156.787 145.724 151.781 133.639C146.776 121.555 145.466 108.258 148.018 95.429C150.569 82.6002 156.868 70.8163 166.117 61.5673C175.366 52.3183 187.15 46.0197 199.979 43.4679C212.808 40.9161 226.105 42.2258 238.189 47.2314C250.274 52.2369 260.602 60.7135 267.869 71.5892C275.136 82.4648 279.015 95.2512 279.015 108.331C278.995 125.865 272.021 142.675 259.623 155.073C247.224 167.471 230.415 174.445 212.881 174.465ZM212.881 43.3635C200.031 43.3635 187.471 47.1738 176.787 54.3125C166.103 61.4512 157.776 71.5978 152.859 83.469C147.941 95.3403 146.655 108.403 149.162 121.006C151.668 133.608 157.856 145.184 166.942 154.27C176.028 163.356 187.604 169.544 200.206 172.05C212.809 174.557 225.871 173.271 237.743 168.353C249.614 163.436 259.761 155.109 266.899 144.425C274.038 133.741 277.848 121.181 277.848 108.331C277.829 91.1067 270.978 74.5932 258.798 62.4136C246.619 50.234 230.105 43.383 212.881 43.3635Z" fill="#3F3D56"/>
              <path d="M205.258 114.045C202.976 107.28 194.829 103.14 188.02 105.285C182.131 107.14 178.126 113.419 178.446 119.514C176.477 112.07 168.9 106.247 161.129 106.793C152.396 107.406 145.023 115.947 145.691 124.676C145.384 122.386 144.304 120.269 142.631 118.676C140.958 117.082 138.792 116.107 136.49 115.912C134.187 115.716 131.887 116.311 129.969 117.599C128.051 118.887 126.63 120.791 125.94 122.996L125.943 122.834C124.553 122.053 122.672 123.422 122.588 125.014C122.505 126.605 123.755 128.023 125.22 128.651C126.685 129.279 128.33 129.287 129.924 129.285C149.815 129.259 169.706 129.234 189.598 129.208C194.218 129.202 199.311 129.021 202.708 125.888C205.848 122.992 206.624 118.091 205.258 114.045Z" fill="#E4E4E4"/>
              <path d="M252.811 144.93C252.153 143.187 250.867 141.753 249.206 140.909C247.545 140.065 245.629 139.872 243.833 140.368C240.766 141.334 238.68 144.604 238.846 147.778C237.821 143.901 233.875 140.869 229.828 141.153C225.28 141.472 221.44 145.92 221.788 150.466C221.627 149.274 221.065 148.172 220.194 147.342C219.322 146.512 218.194 146.004 216.995 145.902C215.796 145.8 214.598 146.11 213.599 146.781C212.6 147.452 211.86 148.443 211.501 149.592L211.502 149.507C210.779 149.101 209.799 149.813 209.755 150.642C209.77 151.058 209.908 151.461 210.152 151.798C210.396 152.135 210.735 152.393 211.126 152.537C211.912 152.811 212.745 152.924 213.576 152.867C223.935 152.854 234.295 152.84 244.654 152.827C247.061 152.824 249.713 152.729 251.483 151.098C253.118 149.59 253.522 147.037 252.811 144.93Z" fill="#E4E4E4"/>
              <path d="M225.991 93.1509C238.567 93.1509 248.761 82.9564 248.761 70.3807C248.761 57.8051 238.567 47.6105 225.991 47.6105C213.415 47.6105 203.221 57.8051 203.221 70.3807C203.221 82.9564 213.415 93.1509 225.991 93.1509Z" fill="#FF6582"/>
              <path d="M288.749 78.1642C286.467 71.3993 278.32 67.2598 271.511 69.4048C265.622 71.2598 261.617 77.5386 261.937 83.6337C259.967 76.1891 252.391 70.3671 244.62 70.9127C235.887 71.5258 228.514 80.0667 229.182 88.7953C228.875 86.5055 227.795 84.389 226.122 82.7956C224.449 81.2021 222.283 80.2269 219.98 80.0312C217.678 79.8354 215.378 80.4307 213.46 81.7187C211.542 83.0068 210.121 84.9106 209.431 87.1156L209.434 86.9539C208.044 86.1731 206.162 87.5414 206.079 89.1332C205.996 90.725 207.246 92.143 208.711 92.7707C210.176 93.3985 211.821 93.4064 213.415 93.4044C233.306 93.3788 253.197 93.3532 273.089 93.3275C277.709 93.3216 282.802 93.1403 286.199 90.0076C289.339 87.1121 290.114 82.2109 288.749 78.1642Z" fill="#E4E4E4"/>
              <path d="M244.275 113.905L248.661 110.398C245.254 110.022 243.854 111.88 243.281 113.351C240.619 112.245 237.721 113.694 237.721 113.694L246.497 116.88C246.054 115.697 245.283 114.666 244.275 113.905Z" fill="#3F3D56"/>
              <path d="M187.694 148.406L192.08 144.898C188.673 144.522 187.273 146.38 186.7 147.851C184.038 146.746 181.141 148.194 181.141 148.194L189.916 151.38C189.473 150.198 188.703 149.166 187.694 148.406Z" fill="#3F3D56"/>
              <path d="M178.034 89.0652L182.42 85.5573C179.013 85.1814 177.613 87.0396 177.04 88.5104C174.378 87.4051 171.48 88.8537 171.48 88.8537L180.256 92.0395C179.813 90.857 179.043 89.8253 178.034 89.0652Z" fill="#3F3D56"/>
              <path d="M209.431 293.253C230.771 293.253 248.071 291.399 248.071 289.113C248.071 286.826 230.771 284.973 209.431 284.973C188.09 284.973 170.79 286.826 170.79 289.113C170.79 291.399 188.09 293.253 209.431 293.253Z" fill="#F0F0F0"/>
              <path d="M19.6903 222.451H200.939C205.587 222.452 210.085 224.095 213.638 227.09C217.191 230.086 219.571 234.241 220.357 238.822C221.142 243.402 220.284 248.113 217.932 252.122C215.581 256.13 211.888 259.179 207.506 260.728V274.331L195.029 261.853H19.6903C14.4671 261.85 9.45883 259.774 5.7665 256.079C2.07416 252.385 0 247.376 0 242.152C0 236.929 2.07416 231.92 5.7665 228.225C9.45883 224.531 14.4671 222.454 19.6903 222.451Z" fill="#4B77BE"/>
              <path d="M28.2274 237.555H187.805C188.154 237.555 188.488 237.417 188.734 237.171C188.98 236.924 189.119 236.59 189.119 236.242C189.119 235.894 188.98 235.56 188.734 235.313C188.488 235.067 188.154 234.929 187.805 234.929H28.2274C27.879 234.929 27.545 235.067 27.2987 235.313C27.0523 235.56 26.914 235.894 26.914 236.242C26.914 236.59 27.0523 236.924 27.2987 237.171C27.545 237.417 27.879 237.555 28.2274 237.555Z" fill="white"/>
              <path d="M28.2274 247.406H187.805C188.154 247.406 188.488 247.268 188.734 247.021C188.98 246.775 189.119 246.441 189.119 246.093C189.119 245.744 188.98 245.41 188.734 245.164C188.488 244.918 188.154 244.779 187.805 244.779H28.2274C27.879 244.779 27.545 244.918 27.2987 245.164C27.0523 245.41 26.914 245.744 26.914 246.093C26.914 246.441 27.0523 246.775 27.2987 247.021C27.545 247.268 27.879 247.406 28.2274 247.406Z" fill="white"/>
              <path d="M422.023 290.05C422.895 289.555 423.647 288.874 424.227 288.057C424.807 287.239 425.201 286.304 425.381 285.318C425.561 284.332 425.522 283.318 425.267 282.348C425.013 281.378 424.549 280.476 423.908 279.705L431.881 217.757L416.981 218.382L413.829 279.079C412.605 280.241 411.85 281.812 411.707 283.494C411.564 285.176 412.043 286.852 413.053 288.204C414.063 289.557 415.534 290.492 417.187 290.832C418.841 291.172 420.561 290.894 422.023 290.05Z" fill="#FFB6B6"/>
              <path d="M491.366 217.748L493.28 249.422L480.353 283.563L474.176 274.431L480.063 241.219L478.43 219.97L491.366 217.748Z" fill="#FFB6B6"/>
              <path d="M472.856 315.408L474.443 396.83L467.483 397.908L452.439 314.572L472.856 315.408Z" fill="#FFB6B6"/>
              <path d="M427.718 319.342L438.612 400.048H445.654L447.767 315.391L427.718 319.342Z" fill="#FFB6B6"/>
              <path d="M448.216 176.343C456.215 176.343 462.699 169.859 462.699 161.86C462.699 153.86 456.215 147.376 448.216 147.376C440.217 147.376 433.732 153.86 433.732 161.86C433.732 169.859 440.217 176.343 448.216 176.343Z" fill="#FFB6B6"/>
              <path d="M460.402 167.996C460.895 169.081 461.669 168.403 462.572 167.663C464.255 166.282 465.236 164.124 465.8 162.068C466.772 158.648 466.861 155.038 466.057 151.575C465.236 148.105 463.324 144.99 460.601 142.687C459.979 142.166 459.302 141.714 458.582 141.34C456.154 140.107 453.287 140.054 450.594 140.454C447.06 140.998 443.663 142.217 440.589 144.044C439.193 144.781 437.977 145.817 437.026 147.077C436.557 147.711 436.253 148.452 436.141 149.233C436.028 150.013 436.11 150.81 436.38 151.551C436.425 151.68 436.505 151.795 436.61 151.883C436.804 151.985 437.029 152.01 437.241 151.953C439.429 151.653 441.647 151.66 443.833 151.974C444.135 151.976 444.432 152.049 444.702 152.185C444.971 152.321 445.206 152.518 445.387 152.76C445.51 153.188 445.607 153.624 445.676 154.065C446.17 155.389 448.358 155.064 449.181 156.213C449.698 156.935 449.469 157.961 449.83 158.772C450.41 160.074 452.174 160.28 453.581 160.056C454.988 159.833 456.508 159.389 457.771 160.048C458.987 160.683 459.517 162.125 459.824 163.462C460.121 164.761 459.879 166.846 460.402 167.996Z" fill="#2F2E41"/>
              <path d="M474.626 269.992L480.704 284.203L474.626 303.323V323.114L451.351 323.254L450.837 298.916L447.705 323.254H424.006L419.619 274.472L425.912 262.928L474.626 269.992Z" fill="#2F2E41"/>
              <path d="M443.564 181.084L441.851 184.257C441.851 184.257 427.082 187.134 419.619 195.263L429.635 215.714L420.36 274.944L475.05 271.298L476.99 225.696L485.22 193.8C485.22 193.8 470.953 184.015 464.798 185.044L462.644 181.084H443.564Z" fill="#4B77BE"/>
              <path d="M433.677 197.393L419.619 195.263C419.619 195.263 415.771 217.835 415.802 222.989L432.769 225.696L433.677 197.393Z" fill="#4B77BE"/>
              <path d="M478.502 195.24L485.22 193.8C485.22 193.8 487.811 202.024 492.087 221.391L474.626 227.484L478.502 195.24Z" fill="#4B77BE"/>
              <path d="M447.02 405.345L421.727 405.344V405.024C421.727 402.413 422.764 399.909 424.611 398.063C426.457 396.217 428.961 395.179 431.572 395.179H431.572L447.02 395.18L447.02 405.345Z" fill="#2F2E41"/>
              <path d="M477.504 401.475L452.509 405.345L452.46 405.029C452.061 402.448 452.703 399.815 454.244 397.708C455.786 395.601 458.102 394.193 460.682 393.793L460.683 393.793L475.949 391.43L477.504 401.475Z" fill="#2F2E41"/>
              <path d="M549.097 406.44H326.91C326.755 406.44 326.607 406.379 326.498 406.269C326.388 406.16 326.327 406.012 326.327 405.857C326.327 405.702 326.388 405.554 326.498 405.445C326.607 405.335 326.755 405.274 326.91 405.274H549.097C549.252 405.274 549.4 405.335 549.509 405.445C549.619 405.554 549.68 405.702 549.68 405.857C549.68 406.012 549.619 406.16 549.509 406.269C549.4 406.379 549.252 406.44 549.097 406.44Z" fill="#CACACA"/>
          </svg>   
          </div>
        </div>
    </div>
  </body>
</html>